* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Vazirmatn", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #fdd7aa;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  background-color: #ffa8a8;
  border-radius: 20px;
  padding: 50px;
  margin-top: 50px;
}
h1 {
  margin-bottom: 20px;
}
.box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-box {
  display: flex;
}
.task-wrapper {
  width: 100%;
}

input {
  font-family: "Roboto", sans-serif;
  font-family: "Vazirmatn", sans-serif;
  width: 100%;
  background-color: #f6ffa4;
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

i.fa-plus {
  padding: 10px;
  background-color: #b6ffce;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
select {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-left: 10px;
  position: relative;
}
.to-do {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action {
  display: flex;
  justify-content: space-between;
  width: 80px;
}
.fa-check {
  color: #b6ffce;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.fa-check:hover {
  background-color: #b6ffce;
  color: #fff;
}

.fa-trash {
  padding: 10px;
  border-radius: 10px;
  color: #fd5d5d;
  transition: all 0.2s ease-in-out;
}

.fa-trash:hover {
  background-color: #fd5d5d;
  color: #fff;
}
.completed {
  opacity: 0.8;
}
.completed .title {
  text-decoration: line-through #ffa8a8 solid;
}
